
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 400px;
      }
#afastar{
margin-left: 850px;
font-size: 20px;
font-style: italic;
margin-bottom: 30px;
}
p{
    font-size: 18px;
    color: white;
}
body{
    background-color: black;
}

a{
    text-align: center;
    display:inline;
}
#link1{
    margin-left:550px;
}
#link2{
    margin-right: 200px;
    margin-left:200px;
}
footer{
    margin-top:80px;
    font-size: 40px;
}