* {
    margin:0px;
    padding:0px;
}
div{
    font-size: 50px;
    color: white;
   margin-top:300px;
   text-align: center;
   
}

body{
    background-color: black;
}
img{
    

  
  
   width: 5%;
   
}
a{
    text-decoration: none;
    
}
#twitter{
   
}